{% extends "employer_base.html" %} 
{% load widget_tweaks %} 
{% block title %}New Employee{% endblock %} 
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div id="add_employee">
            <div class="modal-header">
                {% if employee %}
                <h4 class="page-title">Edit Employee</h4>
                {% else %}
                <h4 class="page-title">Add Employee</h4>
                {% endif %}
            </div>
            <div class="modal-body">
                <form class="m-b-30" method="POST">
                    {% include "split_form_address.html" %}
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary">Create Employee</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}