{% load widget_tweaks %}
{% csrf_token %}
{% if admin.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in admin.non_field_errors %}
            {{error}}
        {% endfor %}
    </div>
{% endif %}

{% for hidden in admin.hidden_fields %} {{ hidden.errors }}{{ hidden }} {% endfor %} 
{% for field in admin.visible_fields %}
    <div class="form-group">
        <label class="control-label" for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        {% if admin.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                    <span class="help-block text-danger">
                        {{ error }}
                    </span>
                {% endfor %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}   
    </div>
{% endfor %}